<div class="dropdown-header" ng-click="dropdownVisible();">
    <i class="huge content icon"></i>
</div>
<div class="ui sidebar inverted vertical menu">
    <a class="item" ng-click="goHome();">
        Home
    </a>
    <a class="item" ng-repeat="data in dropDownData" ng-click="selectListData(data.name);">
        {{ data.name }}
    </a>
    <div class="sidebar-account-button" align="center">
        <button class="positive ui button" ng-click="goAccount();">Account</button>
    </div>
</div>
