<div style="padding:10px;height:100vh">
    <div class="ui link cards">
        <div class="card"  ng-repeat="data in tileData">
            <div class="image">
                <img src="{{data.img_url[0].url}}">
            </div>
            <div class="content">
                <div class="header">{{data.name}}</div>
                <div >
                    <span class="tile-status-open" ng-if="data.status === 'open'">Open Now</span>
                    <span class="tile-status-too-close" ng-if="data.status === 'tooclose'">Too close</span>
                    <span class="tile-status-closed" ng-if="data.status === 'closed'">closed</span>
                    <span class="tile-status-leave" ng-if="data.status === 'noshopday'">No shop day</span>
                </div>
                <div class="description">
                    <b>Address: </b><br>{{data.address}}
                </div>
            </div>
            <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
                <span>
        <i class="user icon"></i>
        {{data.review}}%
      </span>
            </div>
        </div>
    </div>
</div>
