<div>
    <div align="center" class="center-body">
        <div class="login-page">
            <div class="inheader">
                <b>LOGIN</b>
            </div>
            <div class="form-data">
                <form name="logForm">
                    Email:<br>
                    <input type="email" name="firstname" ng-model="emailId" required>
                    <br>
                    Password:<br>
                    <input type="password" name="lastname" ng-model="password" required>
                    <br><br>
                    <button ng-click="login();">login</button>
                </form>
            </div>
        </div>
    </div>
</div>